body {
    background-color: #d5f4e6;
    font-family: Arial;
    padding: 50px;
}

h1 {
    color: #27ae60;
    font-size: 45px;
    text-align: center;
}

img {
    display: flex;
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}